*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    background: linear-gradient(to right top, rgba(0,0,0), rgba(60,60,60));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:3;
}



.backgroundimg {
    border-radius: 7%;
}



main {
    background-image: url('images/emartkid.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: contain;
    background-position: center;
    border-radius: 90%;

}